* {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  margin: 0;
  /* outline: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

nav {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  position: fixed;
  width: 0;
  height: 0;
  z-index: 1000;
  border-radius: 25px;
  right: 20px;
  top: 20px;
  /* border: 2px solid white; */
}

nav.show-burger {
  display: flex;
  border: none;
  width: 250px;
  height: 350px;
}

nav.hide-burger {
  display: none;
}

body {
  cursor: url("src/images/cursor.png"), auto;
  /* padding-top: 70px; */
  background-color: #1f1b1a;
  color: #ffffff;
  /* padding-left: 20px; */
  width: 100%;
}

footer {
  display: flex;
  background-color: rgb(93, 148, 94);
  padding: 20px;
  border-top: 2px solid white;
  text-align: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

section {
  scroll-margin-top: 50px;
  /* width: 100%; */
}

a {
  cursor: url("src/images/cursor_selection.png"), auto;
  color: white;
  text-decoration: none;
  /* font-weight: bolder; */
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
}

/* Classes */

.navigation-bar {
  position: sticky;
  top: 0;
  display: flex;
  gap: 50px;
  padding: 20px;
  background-color: #1f1b1a;
  z-index: 1000;
}

.burger {
  display: none;
  font-size: 2rem;
  cursor: url("src/images/cursor_selection.png"), auto;
  width: 75px;
  height: 75px;
  text-align: center;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 5px;
  top: 15px;
  /* background-color: white; */
  color: rgb(126, 138, 126);
}

.section-name {
  font-size: 7em;
  color: white;
  margin: 0;
  padding: 0;
  line-height: 0.9;
  margin-top: 20px;
  margin-bottom: 20px;
  /* text-align: center; */
}

.main-div {
  /* width: 100%; */
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.section-left-div {
  flex: 1;
  flex-direction: column;
  display: flex;
  row-gap: 7px;
}

.section-left-div p {
  width: 100%;
  font-size: 1em;
  text-align: justify;
}

.section-left-div h1 {
  font-size: 7em;
  margin: 0;
  padding: 0;
  line-height: 0.9;
  color: #e4c9ba;
}

.section-left-div h2 {
  font-size: 35px;
  margin-bottom: 25px;
  color: #e91e63;
}

.intro-about-me {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1.5em;
}

.socials-div {
  font-size: 2em;
  width: fit-content;
  /* background-color: white; */
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  gap: 30px;
  border-radius: 25px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section-right-div {
  flex: 1;
  display: flex;
  justify-content: center;
}

.section-right-div img {
  user-select: none;
  max-width: 500px;
  border-radius: 10px;
}

.section-right-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.section-right-img-container img {
  border-radius: 50%;
  width: 75%;
  border: 6px solid white;
  animation: cycleBorderColors 3s linear infinite;
}

.experience-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

.experience-info-container div {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 10px;
  border-left: 3px solid #9b3fb5;
  padding: 10px;
  line-height: 1.3rem;
}

.experience-info-container div h1 {
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: left;
}

.experience-info-container div p {
  text-align: left;
}

.description {
  text-align: justify;
  width: 50%;
}

.about-me-left-div {
  flex: 1;
  text-align: right;
}

.workshops {
  width: 30%;
  display: flex;
  gap: 50px;
}

.showcase-container {
  width: 100%;
  height: 50%;
  border-radius: 25px;
  /* border: 4px solid black; */
}

.upper-showcase-container {
  height: 180px;
  width: inherit;
  background-color: white;
  border-radius: 25px 25px 0 0;
}

.upper-showcase-container img {
  border-radius: 25px 25px 0 0;
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.lower-showcase-container {
  font-size: 0.8em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  /* background-color: #00bcd4; */
  background-color: white;
  border-radius: 0 0 25px 25px;
  width: inherit;
  height: 30%;
  padding-top: 15px;
  padding-bottom: 15px;
}

.about-me-left-div img {
  width: 100%;
  height: auto;
  border: 2px solid white;
  border-radius: 25px;
  margin: 25px;
}

.about-me-right-div {
  display: flex;
  flex: 1;
  justify-content: flex-start;
}

/* class for design */

.lvl-container {
  display: flex;
  flex-direction: column;
  height: 50px;
  width: 300px;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  color: white;
  margin-bottom: 50px;
}

.lvl-info {
  display: flex;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  font-size: 14px;
  letter-spacing: 1.5px;
}

.lvl-info span {
  margin-left: 10px;
  margin-bottom: 5px;
}

.lvl-bar {
  /* background: #3a1c1a; */
  text-align: center;
  border-radius: 20px;
  /* overflow: hidden; */
  height: 30px;
  width: 100%;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
  border: 3px solid black;
  animation: cycleBorderColors 3s linear infinite;
}

.lvl-progress {
  width: 20%; /* Progress % */
  height: 100%;
  background: linear-gradient(90deg, #4caf50, #e4c9ba);
  border-radius: 20px;
  transition: width 1s ease-in-out;
  margin-bottom: 10px;
}

.lvl-up-text {
  visibility: hidden;
  font-family: "JetBrains Mono", "Poppins", Arial, Helvetica, sans-serif;
  /* font-weight: bolder; */
  letter-spacing: 1px;
  color: #3fb76b;
  font-size: 11px;
  transform: translateY(-50);
  white-space: no-wrap;
  transition: opacity 0.1s ease, transform 0.3s ease;
}

.lvl-bar:hover {
  cursor: url("src/images/cursor_selection.png"), auto;
}

.lvl-bar:hover .lvl-up-text {
  cursor: url("src/images/cursor_selection.png"), auto;
  visibility: visible;
  opacity: 1;
}

/* ids */
#nav-links {
  list-style: none;
  gap: 2rem;
  display: none; /* Hide the nav first*/
  flex-direction: column;
  padding: 20px;
}

#nav-links.show-links {
  display: flex;
}

#nav-links.hide-links {
  display: none;
}

#nav-links li {
  font-size: 1.6rem;
  display: inline;
  text-align: center;
}

#nav-links a {
  color: #1f1b1a;
  text-decoration: none;
  font-weight: bold;
}

#home {
  /* min-height: 500px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 35px;
}

#home-experience {
  margin: 30px;
}

#skills {
  background-color: #e4c9ba;
  color: #3a1c1a;
  padding: 35px;
  /* width: 100vw; */
}

#skills h1 {
  color: #3a1c1a;
  padding: 0;
}

#skills h2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

#skills li {
  font-size: 25px;
}

#education {
  color: #e4c9ba;
  padding: 35px;
}

#education li {
  padding: 10px;
}

#education h1 {
  color: #e4c9ba;
}

#projects {
  background-color: #e4c9ba;
  color: #3a1c1a;
  padding: 35px;
}

#projects h1 {
  color: #3a1c1a;
}

#projects h2 {
  color: #840831;
}

#about-me {
  padding: 35px;
}

#footer {
  background-color: grey;
  height: 70px;
}

/* Special Class Effects*/

.fade-img {
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  );
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;

  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  mask-repeat: no-repeat;
  mask-size: 100% 100%;
}

.typewriter {
  /* padding: 20px 20px 0 0; */
  color: white;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid black; /* cursor */
  animation: typing 3s steps(21, end) infinite, blink 0.8s step-end infinite;
}

.wiggle {
  display: inline-block;
  animation: wiggle 0.5s infinite;
}

.cycle {
  animation: cycleColors 3s linear infinite;
}

.wiggle-cycle {
  display: inline-block;
  animation: cycleColors 3s linear infinite, wiggle 0.5s infinite;
}

.float-box {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.float-box:hover {
  transform: translateY(-10px); /* moves div up slightly */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); /* adds floating shadow */
}

/* Keyframes */

@keyframes cycleColors {
  0% {
    color: #e91e63;
  } /* pink */
  25% {
    color: #3f51b5;
  } /* indigo */
  50% {
    color: #00bcd4;
  } /* cyan */
  75% {
    color: #4caf50;
  } /* green */
  100% {
    color: #e91e63;
  } /* back to start */
}

@keyframes cycleBorderColors {
  0% {
    border-color: #e91e63;
  } /* pink */
  25% {
    border-color: #9b3fb5;
  } /* indigo */
  50% {
    border-color: #1f1b1a;
  } /* cyan */
  75% {
    border-color: #9e4caf;
  } /* green */
  100% {
    border-color: #e91e63;
  } /* back to start */
}

@keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(1deg);
  }
  75% {
    transform: rotate(-1deg);
  }
}

@keyframes typing {
  0% {
    width: 0;
  }
  40% {
    width: 21ch;
  } /* Finished typing */
  60% {
    width: 21ch;
  } /* Hold the full text for a moment */
  100% {
    width: 0;
  } /* Erase text */
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

/* Mobile */
@media (max-width: 786px) {
  nav.show-borders {
    display: flex;
  }

  section {
    scroll-margin: 0;
  }

  #home-experience {
    margin: 0px 20px 20px 20px;
  }

  .main-div {
    flex-direction: column-reverse;
  }

  .section-left-div {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .section-left-div h1 {
    font-size: 2em;
  }

  .section-left-div p {
    text-align: center;
  }

  .socials-div {
    font-size: 1.5em;
    gap: 15px;
  }

  .section-right-img-container img {
    margin-bottom: 25px;
    width: 70%;
  }

  .lvl-container {
    align-items: center;
    text-align: center;
  }

  .section-name {
    font-size: 2em;
  }

  .workshops {
    width: 100%;
  }

  .showcase-container {
    width: 100%;
  }

  .upper-showcase-container {
    height: 100px;
  }

  .navigation-bar {
    display: none;
  }

  .burger {
    display: flex;
  }

  .experience-info-container {
    margin: 0;
    padding-top: 0;
  }

  .experience-info-container div {
    line-height: 0.6em;
    border: none;
  }

  .experience-info-container div h1 {
    font-size: 0.8rem;
  }

  .experience-info-container div p {
    font-size: 0.5rem;
  }
}
