* {
  margin: 0;
  padding: 0;
  /* outline: 2px solid red; */
}

html {

    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 25px;
    padding: 0;
    margin: 0;
}

body {
  background-color: #e4c9ba;
}

/* Classes */

.coordinates-div {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 50px;
}

.coordinates-div p {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1rem;
}

#header h1 {
    font-size: 4rem;
    color: #3a1c1a;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    justify-content: center;
}

.canvas-container {
  display: flex;
  /* margin: 20px; */
  justify-content: center;
  align-items: center;
}
#canvas {
    align-items: center;
}

#canvas canvas {
    margin: 20px;
    width: 80%;
    height: 70vh;
    border: 3px solid white;
    animation: cycleBorderColors 3s linear infinite;
}

@keyframes cycleBorderColors {
  0%   { border-color: #e91e63; }  /* pink */
  25%  { border-color: #3f51b5; }  /* indigo */
  50%  { border-color: #00bcd4; }  /* cyan */
  75%  { border-color: #4caf50; }  /* green */
  100% { border-color: #e91e63; }  /* back to start */
    
}

/* Effects */

.cycle {
  animation: cycleColors 3s linear infinite;
}

@keyframes cycleColors {
  0%   { color: #e91e63; }  /* pink */
  25%  { color: #3f51b5; }  /* indigo */
  50%  { color: #00bcd4; }  /* cyan */
  75%  { color: #4caf50; }  /* green */
  100% { color: #e91e63; }  /* back to start */
}

@media screen and (max-width: 786px) {
  .coordinates-div {
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .coordinates-div p {
    font-size: 0.5rem;
  }

  #header h1 {
    font-size: 0.5rem;
  }
  
  #canvas canvas {
    margin: 0;
  }
}