* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #1f1b1a;
}

input {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
  border-radius: 25px;
  height: 50px;
  width: 30%;
  min-width: 220px;
  border: none;
  padding-left: 25px;
}

input:focus {
  border: none;
  outline: none;
}

/* Fix later */
footer {
  border-top: 2px solid #e4c9ba;
  height: 100%;
}


/* Classes */
.nav-bar-div {
  display: flex;
  background-color: #e4c9ba;
  height: 50px;
  width: 100%;
}

.nav-bar-div nav {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  justify-items: center;
  align-items: center;
  color: black;
}

.nav-bar-div a {
  font-weight: bolder;
  font-size: 2rem;
  text-decoration: none;
  letter-spacing: 1px;
  padding: 25px;
}

.nav-bar-div a:visited {
  color: rgb(72, 45, 45);
}

.search-bar-div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  gap: 25px;
}

.search-bar-div i {
  font-size: 1.5rem;
  color: #ffffff;
}


.wallpapers-section {
  margin: 50px 25px 25px 25px;
}

.wallpapers-section h1 {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-size: 2rem;
  color: white;
  letter-spacing: 0.2rem;
}

.wallpapers-div {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 25px;
  margin-top: 25px;
  align-items: center;

}

.wallpapers-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.wallpapers-container video {
  width: 320px;
  height: auto;
  border-radius: 5px;
  border: 2px solid white;
}

.wallpapers-container p {
  margin-top: 15px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: white;

}

/* ids */
#banner {
  margin-bottom: 100px;
}

#footer {

  margin-top: 100px;
  height: 100px;
}

#footer div {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  height: 100%;
}






/* Mobile */
@media (max-width: 768px) {
  .nav-bar-div {
    display: none;
  }

  .wallpapers-section {
    margin-top: 0;
  }

  .wallpapers-section h1 {
    font-size: 1.2rem;
    text-align: center;
  }

  .wallpapers-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .search-bar-div {
    margin-top: 25px;
  }

  #banner {
    margin: 25px;
  }
}